body {
    background-image: url(fondo.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}


input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}
#boton {
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}
@media (max-width: 480px) {
    form{
        width: 100%;
    }
}
a {
    text-decoration: none;
    color: gray;
}
#titulo_contacto {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.g-recaptcha {
    width: 100%;
    background: green;
    
}

